In [1]:
import pandas as pd
import regex as re
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
disneylist = pd.read_csv('data/mylist_lmpssa.csv')
disneylist

,Unnamed: 0,Release,category,To Date/Lifetime Gross in US and Canada,Release Date_x,Max Theaters_x,Days,Opening_x,Open Th_x,Distributor
0,0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,18-Dec-15,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures
1,1,Avengers: Endgame,marvel,858373000,26-Apr-19,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures
2,2,Black Panther,marvel,700059566,16-Feb-18,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures
3,3,Avengers: Infinity War,marvel,678815482,27-Apr-18,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures
4,4,The Avengers,marvel,623357910,4-May-12,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures
...,...,...,...,...,...,...,...,...,...,...
636,647,Star Wars: Episode IV - A New Hope,starwars,460998507,25-May-77,1750,NaN,1554475,43,Twentieth Century Fox
637,648,Star Wars: Episode II - Attack of the Clones,starwars,310676740,16-May-02,3161,NaN,80027814,3161,Twentieth Century Fox
638,649,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,25-May-83,1764,NaN,23019618,1002,Twentieth Century Fox
639,650,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,21-May-80,1278,NaN,4910483,126,Twentieth Century Fox
640,651,Star Wars: The Clone Wars,starwars,35161554,15-Aug-08,3452,NaN,14611273,3452,Warner Bros.

In [3]:
disneylist=disneylist.drop(['Unnamed: 0'], axis=1)
disneylist

,Release,category,To Date/Lifetime Gross in US and Canada,Release Date_x,Max Theaters_x,Days,Opening_x,Open Th_x,Distributor
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,18-Dec-15,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures
1,Avengers: Endgame,marvel,858373000,26-Apr-19,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures
2,Black Panther,marvel,700059566,16-Feb-18,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures
3,Avengers: Infinity War,marvel,678815482,27-Apr-18,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures
4,The Avengers,marvel,623357910,4-May-12,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures
...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,25-May-77,1750,NaN,1554475,43,Twentieth Century Fox
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,16-May-02,3161,NaN,80027814,3161,Twentieth Century Fox
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,25-May-83,1764,NaN,23019618,1002,Twentieth Century Fox
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,21-May-80,1278,NaN,4910483,126,Twentieth Century Fox
640,Star Wars: The Clone Wars,starwars,35161554,15-Aug-08,3452,NaN,14611273,3452,Warner Bros.

In [4]:
disneylist=disneylist.rename(columns={'Release':'title','category':'category', 'To Date/Lifetime Gross in US and Canada': 'lifetime_gross_us_ca','Release Date_x':'release_date','Max Theaters_x':'max_theaters','Days':'total_days','Opening_x':'opening_weekend','Open Th_x':'opening_theaters','Distributor':'distributor'})
disneylist

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,18-Dec-15,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures
1,Avengers: Endgame,marvel,858373000,26-Apr-19,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures
2,Black Panther,marvel,700059566,16-Feb-18,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures
3,Avengers: Infinity War,marvel,678815482,27-Apr-18,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures
4,The Avengers,marvel,623357910,4-May-12,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures
...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,25-May-77,1750,NaN,1554475,43,Twentieth Century Fox
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,16-May-02,3161,NaN,80027814,3161,Twentieth Century Fox
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,25-May-83,1764,NaN,23019618,1002,Twentieth Century Fox
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,21-May-80,1278,NaN,4910483,126,Twentieth Century Fox
640,Star Wars: The Clone Wars,starwars,35161554,15-Aug-08,3452,NaN,14611273,3452,Warner Bros.

In [5]:
disneylist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 641 non-null    object
 1   category              641 non-null    object
 2   lifetime_gross_us_ca  641 non-null    int64
 3   release_date          641 non-null    object
 4   max_theaters          641 non-null    object
 5   total_days            620 non-null    object
 6   opening_weekend       640 non-null    object
 7   opening_theaters      641 non-null    object
 8   distributor           108 non-null    object
dtypes: int64(1), object(8)
memory usage: 45.2+ KB

In [6]:
disneylist['release_date'] = pd.to_datetime(disneylist['release_date'], format = '%d-%b-%y')

In [7]:
disneylist

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,2015-12-18,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures
1,Avengers: Endgame,marvel,858373000,2019-04-26,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures
2,Black Panther,marvel,700059566,2018-02-16,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures
3,Avengers: Infinity War,marvel,678815482,2018-04-27,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures
4,The Avengers,marvel,623357910,2012-05-04,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures
...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,2002-05-16,3161,NaN,80027814,3161,Twentieth Century Fox
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,1983-05-25,1764,NaN,23019618,1002,Twentieth Century Fox
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox
640,Star Wars: The Clone Wars,starwars,35161554,2008-08-15,3452,NaN,14611273,3452,Warner Bros.

In [8]:
avg_ticket_per_year=pd.read_csv('data/avg_ticket_per_year.csv')
avg_ticket_per_year

    year  avg_price  adj_price
0   2023      10.53      10.53
1   2022      10.53      10.98
2   2021      10.40      11.71
3   2020       9.41      11.09
4   2019       9.16      10.93
..   ...        ...        ...
82  1941       0.25       5.19
83  1940       0.24       5.23
84  1939       0.23       5.05
85  1938       0.25       5.41
86  1937       0.25       5.30

[87 rows x 3 columns]

In [9]:
avg_ticket_per_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       87 non-null     int64
 1   avg_price  87 non-null     float64
 2   adj_price  87 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 2.2 KB

In [10]:
avg_ticket_per_year['inflation_rate']= (10.53-avg_ticket_per_year['avg_price'])/avg_ticket_per_year['avg_price']

In [11]:
avg_ticket_per_year

    year  avg_price  adj_price  inflation_rate
0   2023      10.53      10.53        0.000000
1   2022      10.53      10.98        0.000000
2   2021      10.40      11.71        0.012500
3   2020       9.41      11.09        0.119022
4   2019       9.16      10.93        0.149563
..   ...        ...        ...             ...
82  1941       0.25       5.19       41.120000
83  1940       0.24       5.23       42.875000
84  1939       0.23       5.05       44.782609
85  1938       0.25       5.41       41.120000
86  1937       0.25       5.30       41.120000

[87 rows x 4 columns]

In [12]:
avg_ticket_per_year.describe()

              year  avg_price  adj_price  inflation_rate
count    87.000000  87.000000  87.000000       87.000000
mean   1980.000000   3.518046   8.979655        9.596884
std      25.258662   3.112260   2.299259       12.520388
min    1937.000000   0.230000   4.560000        0.000000
25%    1958.500000   0.640000   6.950000        0.836408
50%    1980.000000   2.690000   9.820000        2.914498
75%    2001.500000   5.735000  10.715000       15.517647
max    2023.000000  10.530000  12.430000       44.782609

avg_ticket_per_year = avg_ticket_per_year.astype({'year':'int'})
avg_ticket_per_year

In [13]:
avg_ticket_per_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            87 non-null     int64
 1   avg_price       87 non-null     float64
 2   adj_price       87 non-null     float64
 3   inflation_rate  87 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 2.8 KB

In [14]:
avg_ticket_per_year['year_dif']=2023-avg_ticket_per_year['year']
avg_ticket_per_year

    year  avg_price  adj_price  inflation_rate  year_dif
0   2023      10.53      10.53        0.000000         0
1   2022      10.53      10.98        0.000000         1
2   2021      10.40      11.71        0.012500         2
3   2020       9.41      11.09        0.119022         3
4   2019       9.16      10.93        0.149563         4
..   ...        ...        ...             ...       ...
82  1941       0.25       5.19       41.120000        82
83  1940       0.24       5.23       42.875000        83
84  1939       0.23       5.05       44.782609        84
85  1938       0.25       5.41       41.120000        85
86  1937       0.25       5.30       41.120000        86

[87 rows x 5 columns]

avg_ticket_per_year['future_value']=avg_ticket_per_year['avg_price']*(1+avg_ticket_per_year['inflation_rate'])**(avg_ticket_per_year['year_dif'])

In [15]:
disneylist['year']=disneylist['release_date'].dt.year
disneylist

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,2015-12-18,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures,2015
1,Avengers: Endgame,marvel,858373000,2019-04-26,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures,2019
2,Black Panther,marvel,700059566,2018-02-16,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures,2018
3,Avengers: Infinity War,marvel,678815482,2018-04-27,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures,2018
4,The Avengers,marvel,623357910,2012-05-04,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures,2012
...,...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox,1977
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,2002-05-16,3161,NaN,80027814,3161,Twentieth Century Fox,2002
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,1983-05-25,1764,NaN,23019618,1002,Twentieth Century Fox,1983
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox,1980
640,Star Wars: The Clone Wars,starwars,35161554,2008-08-15,3452,NaN,14611273,3452,Warner Bros.,2008

In [16]:
disneylist2 = pd.merge(disneylist, avg_ticket_per_year, 
                               left_on = 'year', right_on = 'year', 
                               how = 'left')
disneylist2

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,2015-12-18,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures,2015,8.43,10.85,0.249110,8.0
1,Avengers: Endgame,marvel,858373000,2019-04-26,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures,2019,9.16,10.93,0.149563,4.0
2,Black Panther,marvel,700059566,2018-02-16,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0
3,Avengers: Infinity War,marvel,678815482,2018-04-27,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0
4,The Avengers,marvel,623357910,2012-05-04,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures,2012,7.96,10.58,0.322864,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox,1977,2.23,11.23,3.721973,46.0
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,2002-05-16,3161,NaN,80027814,3161,Twentieth Century Fox,2002,5.81,9.85,0.812392,21.0
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,1983-05-25,1764,NaN,23019618,1002,Twentieth Century Fox,1983,3.15,9.65,2.342857,40.0
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox,1980,2.69,9.96,2.914498,43.0
640,Star Wars: The Clone Wars,starwars,35161554,2008-08-15,3452,NaN,14611273,3452,Warner Bros.,2008,7.18,10.17,0.466574,15.0

In [17]:
disneylist2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 641 entries, 0 to 640
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 641 non-null    object
 1   category              641 non-null    object
 2   lifetime_gross_us_ca  641 non-null    int64
 3   release_date          641 non-null    datetime64[ns]
 4   max_theaters          641 non-null    object
 5   total_days            620 non-null    object
 6   opening_weekend       640 non-null    object
 7   opening_theaters      641 non-null    object
 8   distributor           108 non-null    object
 9   year                  641 non-null    int64
 10  avg_price             630 non-null    float64
 11  adj_price             630 non-null    float64
 12  inflation_rate        630 non-null    float64
 13  year_dif              630 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 75.1+ KB

In [18]:
disneylist2['num_tickets']=disneylist2['lifetime_gross_us_ca']/disneylist2['avg_price']
disneylist2

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,2015-12-18,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures,2015,8.43,10.85,0.249110,8.0,1.111106e+08
1,Avengers: Endgame,marvel,858373000,2019-04-26,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures,2019,9.16,10.93,0.149563,4.0,9.370884e+07
2,Black Panther,marvel,700059566,2018-02-16,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0,7.684518e+07
3,Avengers: Infinity War,marvel,678815482,2018-04-27,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0,7.451323e+07
4,The Avengers,marvel,623357910,2012-05-04,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures,2012,7.96,10.58,0.322864,11.0,7.831130e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox,1977,2.23,11.23,3.721973,46.0,2.067258e+08
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,2002-05-16,3161,NaN,80027814,3161,Twentieth Century Fox,2002,5.81,9.85,0.812392,21.0,5.347276e+07
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,1983-05-25,1764,NaN,23019618,1002,Twentieth Century Fox,1983,3.15,9.65,2.342857,40.0,1.004972e+08
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox,1980,2.69,9.96,2.914498,43.0,1.088305e+08
640,Star Wars: The Clone Wars,starwars,35161554,2008-08-15,3452,NaN,14611273,3452,Warner Bros.,2008,7.18,10.17,0.466574,15.0,4.897152e+06

In [19]:
disneylist2['adjusted_total']=disneylist2['num_tickets']*disneylist2['adj_price']
disneylist2

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets,adjusted_total
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,2015-12-18,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures,2015,8.43,10.85,0.249110,8.0,1.111106e+08,1.205550e+09
1,Avengers: Endgame,marvel,858373000,2019-04-26,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures,2019,9.16,10.93,0.149563,4.0,9.370884e+07,1.024238e+09
2,Black Panther,marvel,700059566,2018-02-16,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0,7.684518e+07,8.499077e+08
3,Avengers: Infinity War,marvel,678815482,2018-04-27,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0,7.451323e+07,8.241163e+08
4,The Avengers,marvel,623357910,2012-05-04,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures,2012,7.96,10.58,0.322864,11.0,7.831130e+07,8.285335e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox,1977,2.23,11.23,3.721973,46.0,2.067258e+08,2.321531e+09
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,2002-05-16,3161,NaN,80027814,3161,Twentieth Century Fox,2002,5.81,9.85,0.812392,21.0,5.347276e+07,5.267067e+08
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,1983-05-25,1764,NaN,23019618,1002,Twentieth Century Fox,1983,3.15,9.65,2.342857,40.0,1.004972e+08,9.697977e+08
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox,1980,2.69,9.96,2.914498,43.0,1.088305e+08,1.083951e+09
640,Star Wars: The Clone Wars,starwars,35161554,2008-08-15,3452,NaN,14611273,3452,Warner Bros.,2008,7.18,10.17,0.466574,15.0,4.897152e+06,4.980404e+07

In [20]:
disneylist2.loc[disneylist2['year'] <= 1982]

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets,adjusted_total
129,Freaky Friday,live,25942000,1977-01-21,-,-,-,-,NaN,1977,2.23,11.23,3.721973,46.0,1.163318e+07,1.306407e+08
181,Pete's Dragon,animated,39588000,1977-12-16,-,-,NaN,-,Walt Disney Studios Motion Pictures,1977,2.23,11.23,3.721973,46.0,1.775247e+07,1.993602e+08
252,The Love Bug,live,51264000,1969-03-13,-,-,-,-,NaN,1969,1.42,11.81,6.415493,54.0,3.610141e+07,4.263576e+08
296,The Fox and the Hound,animated,63456988,1981-07-10,-,-,4819215,-,NaN,1981,2.78,9.33,2.787770,42.0,2.282625e+07,2.129690e+08
302,Herbie Rides Again,live,38229000,1974-06-06,-,-,-,-,NaN,1974,1.89,11.70,4.571429,49.0,2.022698e+07,2.366557e+08
310,The Apple Dumpling Gang,live,36853000,1975-07-04,-,-,-,-,NaN,1975,2.03,11.51,4.187192,48.0,1.815419e+07,2.089547e+08
318,The Black Hole,live,35841901,1979-12-21,-,-,-,-,NaN,1979,2.47,10.38,3.263158,44.0,1.451089e+07,1.506230e+08
327,Tron,live,33000000,1982-07-09,"1,112",-,4761795,"1,091",NaN,1982,2.94,9.30,2.581633,41.0,1.122449e+07,1.043878e+08
353,The Rescuers,animated,71215869,1977-06-22,-,-,-,-,NaN,1977,2.23,11.23,3.721973,46.0,3.193537e+07,3.586342e+08
360,Herbie Goes to Monte Carlo,live,28000000,1977-06-24,-,-,-,-,NaN,1977,2.23,11.23,3.721973,46.0,1.255605e+07,1.410045e+08
399,Gus,live,21873000,1976-07-07,-,-,-,-,NaN,1976,2.13,11.42,3.943662,47.0,1.026901e+07,1.172721e+08
411,The Apple Dumpling Gang Rides Again,live,20931111,1979-06-27,-,-,-,-,NaN,1979,2.47,10.38,3.263158,44.0,8.474134e+06,8.796151e+07
419,Escape to Witch Mountain,live,20000000,1975-03-21,-,-,-,-,NaN,1975,2.03,11.51,4.187192,48.0,9.852217e+06,1.133990e+08
421,Song of the South,live,37459346,1980-10-08,-,-,-,-,NaN,1980,2.69,9.96,2.914498,43.0,1.392541e+07,1.386971e+08
441,The Aristocats,animated,35452658,1980-12-19,-,-,3168071,-,NaN,1980,2.69,9.96,2.914498,43.0,1.317943e+07,1.312671e+08
450,Herbie Goes Bananas,live,18000000,1980-06-25,-,-,-,-,NaN,1980,2.69,9.96,2.914498,43.0,6.691450e+06,6.664684e+07
455,Return from Witch Mountain,live,16393000,1978-03-10,-,-,-,-,NaN,1978,2.34,10.95,3.500000,45.0,7.005556e+06,7.671083e+07
457,The Devil and Max Devlin,live,16000000,1981-02-06,-,-,-,-,NaN,1981,2.78,9.33,2.787770,42.0,5.755396e+06,5.369784e+07
503,The Last Flight of Noah's Ark,live,11000000,1980-07-27,-,-,-,-,NaN,1980,2.69,9.96,2.914498,43.0,4.089219e+06,4.072862e+07
533,Night Crossing,live,8000000,1982-02-05,640,-,1547912,640,NaN,1982,2.94,9.30,2.581633,41.0,2.721088e+06,2.530612e+07
542,Tex,live,7400000,1982-07-30,-,-,-,-,NaN,1982,2.94,9.30,2.581633,41.0,2.517007e+06,2.340816e+07
561,The Watcher in the Woods,live,5000000,1981-10-07,-,-,-,-,NaN,1981,2.78,9.33,2.787770,42.0,1.798561e+06,1.678058e+07
589,Midnight Madness,live,2900000,1980-02-08,"1,022",-,-,"1,022",NaN,1980,2.69,9.96,2.914498,43.0,1.078067e+06,1.073755e+07
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox,1977,2.23,11.23,3.721973,46.0,2.067258e+08,2.321531e+09
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox,1980,2.69,9.96,2.914498,43.0,1.088305e+08,1.083951e+09

## movies released before 1982 do not have as much data. Most do not have opening weekend totals or number of theaters.

disneylist2.to_csv()

import os  
os.makedirs('data', exist_ok=True)  
disneylist2.to_csv('data/disneylist2.csv')

In [23]:
disneylist2.loc[(disneylist2['category'] == 'starwars') & (disneylist2['release_date'] <= '2012-10-30')]

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets,adjusted_total
634,Star Wars: Episode I - The Phantom Menace,starwars,474544677,1999-05-19,3126,NaN,64820970,2970,Twentieth Century Fox,1999,5.08,9.30,1.072835,24.0,9.341431e+07,8.687531e+08
635,Star Wars: Episode III - Revenge of the Sith,starwars,380270577,2005-05-19,3663,NaN,108435841,3661,Twentieth Century Fox,2005,6.41,10.01,0.642746,18.0,5.932458e+07,5.938391e+08
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox,1977,2.23,11.23,3.721973,46.0,2.067258e+08,2.321531e+09
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,2002-05-16,3161,NaN,80027814,3161,Twentieth Century Fox,2002,5.81,9.85,0.812392,21.0,5.347276e+07,5.267067e+08
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,1983-05-25,1764,NaN,23019618,1002,Twentieth Century Fox,1983,3.15,9.65,2.342857,40.0,1.004972e+08,9.697977e+08
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox,1980,2.69,9.96,2.914498,43.0,1.088305e+08,1.083951e+09
640,Star Wars: The Clone Wars,starwars,35161554,2008-08-15,3452,NaN,14611273,3452,Warner Bros.,2008,7.18,10.17,0.466574,15.0,4.897152e+06,4.980404e+07

In [24]:
disneylist2.loc[(disneylist2['category'] == 'starwars') & (disneylist2['release_date'] >= '2012-10-30')]

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets,adjusted_total
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,2015-12-18,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures,2015,8.43,10.85,0.249110,8.0,1.111106e+08,1.205550e+09
5,Star Wars: Episode VIII - The Last Jedi,starwars,620181382,2017-12-15,"4,232",125,220009584,"4,232",Walt Disney Studios Motion Pictures,2017,8.97,11.17,0.173913,6.0,6.913951e+07,7.722883e+08
9,Rogue One: A Star Wars Story,starwars,532177324,2016-12-16,"4,157",139,155081681,"4,157",Walt Disney Studios Motion Pictures,2016,8.65,11.00,0.217341,7.0,6.152339e+07,6.767573e+08
10,Star Wars: Episode IX - The Rise of Skywalker,starwars,515202542,2019-12-20,"4,406",-,177383864,"4,406",Walt Disney Studios Motion Pictures,2019,9.16,10.93,0.149563,4.0,5.624482e+07,6.147559e+08
65,Solo: A Star Wars Story,starwars,213767512,2018-05-25,"4,381",118,84420489,"4,381",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0,2.346515e+07,2.595246e+08

In [25]:
for ind, row in disneylist2.iterrows():

    if row.category == 'animated':
        disneylist2.loc[ind, 'style'] = 'A'
    elif row.category == 'live':
        disneylist2.loc[ind, 'style'] = 'L'
    elif row.category == 'marvel':
        disneylist2.loc[ind, 'style'] = 'L'
    elif row.category == 'starwars':
        disneylist2.loc[ind, 'style'] = 'L'
    elif row.category == 'spiderman':
        disneylist2.loc[ind, 'style'] = 'L'
    elif row.category == 'pixar':
        disneylist2.loc[ind, 'style'] = 'A' 
    elif row.category == 'live reimaginings':
        disneylist2.loc[ind, 'style'] = 'L'        
    else:
        disneylist2.loc[ind, 'style'] = 'ERROR'
        
disneylist2

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets,adjusted_total,style
0,Star Wars: Episode VII - The Force Awakens,starwars,936662225,2015-12-18,"4,134",167,247966675,"4,134",Walt Disney Studios Motion Pictures,2015,8.43,10.85,0.249110,8.0,1.111106e+08,1.205550e+09,L
1,Avengers: Endgame,marvel,858373000,2019-04-26,"4,662",139,357115007,"4,662",Walt Disney Studios Motion Pictures,2019,9.16,10.93,0.149563,4.0,9.370884e+07,1.024238e+09,L
2,Black Panther,marvel,700059566,2018-02-16,"4,084",174,202003951,"4,020",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0,7.684518e+07,8.499077e+08,L
3,Avengers: Infinity War,marvel,678815482,2018-04-27,"4,474",139,257698183,"4,474",Walt Disney Studios Motion Pictures,2018,9.11,11.06,0.155873,5.0,7.451323e+07,8.241163e+08,L
4,The Avengers,marvel,623357910,2012-05-04,"4,349",153,207438708,"4,349",Walt Disney Studios Motion Pictures,2012,7.96,10.58,0.322864,11.0,7.831130e+07,8.285335e+08,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,Star Wars: Episode IV - A New Hope,starwars,460998507,1977-05-25,1750,NaN,1554475,43,Twentieth Century Fox,1977,2.23,11.23,3.721973,46.0,2.067258e+08,2.321531e+09,L
637,Star Wars: Episode II - Attack of the Clones,starwars,310676740,2002-05-16,3161,NaN,80027814,3161,Twentieth Century Fox,2002,5.81,9.85,0.812392,21.0,5.347276e+07,5.267067e+08,L
638,Star Wars: Episode VI - Return of the Jedi,starwars,316566101,1983-05-25,1764,NaN,23019618,1002,Twentieth Century Fox,1983,3.15,9.65,2.342857,40.0,1.004972e+08,9.697977e+08,L
639,Star Wars: Episode V - The Empire Strikes Back,starwars,292753960,1980-05-21,1278,NaN,4910483,126,Twentieth Century Fox,1980,2.69,9.96,2.914498,43.0,1.088305e+08,1.083951e+09,L
640,Star Wars: The Clone Wars,starwars,35161554,2008-08-15,3452,NaN,14611273,3452,Warner Bros.,2008,7.18,10.17,0.466574,15.0,4.897152e+06,4.980404e+07,L

In [27]:
disneylist2.loc[(disneylist2['year'] > 2023)]

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets,adjusted_total,style
27,The Jungle Book,animated,141843612,2067-10-18,-,-,5291670,-,Walt Disney Studios Motion Pictures,2067,NaN,NaN,NaN,NaN,NaN,NaN,A
71,Cinderella,animated,93141149,2050-03-04,-,-,1300000,-,Walt Disney Studios Motion Pictures,2050,NaN,NaN,NaN,NaN,NaN,NaN,A
200,Snow White and the Seven Dwarfs,animated,184925486,2037-12-21,-,-,6017914,-,NaN,2037,NaN,NaN,NaN,NaN,NaN,NaN,A
230,Mary Poppins,live,102272727,2064-08-29,-,-,-,-,NaN,2064,NaN,NaN,NaN,NaN,NaN,NaN,L
285,Fantasia,animated,76408097,2041-01-29,-,-,980798,-,NaN,2041,NaN,NaN,NaN,NaN,NaN,NaN,A
290,Peter Pan,animated,87404651,2053-02-05,-,-,957256,-,NaN,2053,NaN,NaN,NaN,NaN,NaN,NaN,A
293,Swiss Family Robinson,live,40356000,2060-12-10,-,-,-,-,NaN,2060,NaN,NaN,NaN,NaN,NaN,NaN,L
300,Pinocchio,animated,84254167,2040-02-09,-,-,-,-,NaN,2040,NaN,NaN,NaN,NaN,NaN,NaN,A
314,Sleeping Beauty,animated,51600000,2059-01-29,-,-,-,-,NaN,2059,NaN,NaN,NaN,NaN,NaN,NaN,A
317,Lady and the Tramp,animated,93602326,2055-06-22,-,-,-,-,NaN,2055,NaN,NaN,NaN,NaN,NaN,NaN,A
473,One Hundred and One Dalmatians,animated,144880014,2061-01-25,-,-,-,-,NaN,2061,NaN,NaN,NaN,NaN,NaN,NaN,A

In [33]:
disneylist2.loc[(disneylist2['title'] == 'Lady and the Tramp')]

,title,category,lifetime_gross_us_ca,release_date,max_theaters,total_days,opening_weekend,opening_theaters,distributor,year,avg_price,adj_price,inflation_rate,year_dif,num_tickets,adjusted_total,style
317,Lady and the Tramp,animated,93602326,2055-06-22,-,-,-,-,NaN,2055,NaN,NaN,NaN,NaN,NaN,NaN,A

import os  
os.makedirs('data', exist_ok=True)  
disneylist2.to_csv('data/disneylist2.csv')